body {
  color: rgb(65,75,86);
  font-family: arial;
  margin: 0px;
}
div.header {
  padding: 1px;
  text-align: center;
  background: #9C9694;
  color: white;
  font-size: 15px;
  height: 50px;
}
.header a.logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
.header a{
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header-right {
  float: right;
}
div.contrast {
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  background-position: center;
  border-radius: 50%
}
div.row {
  align-content: center;
  color: black;
}

.content {
  color: black;
  align-content: center;
}
.social {
  color: black;
  align-content: center;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
.fa-twitter{
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.footer {
  left: 0;
  bottom: 0;
  padding: 20px;
  background-color: grey;
  color: white;
  text-align: center;
}
